{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <h4 class="mb-2">Search Results for "{{keyword}}"</h4>
    {% if blogs %}
    {% for blog in blogs %}
    <div class="blog-post">
        <h4 class="mb-2"><a href="{% url 'blogs' blog.slug %}" class="text-dark">{{blog.title}}</a></h4>
        <p class="mb-1 text-muted">{{blog.created_at | timesince}} ago by <a href="#">{{blog.author}}</a></p>
        <p class="mb-2">{{blog.short_description | truncatewords:20}}</p>
        <a href="{% url 'blogs' blog.slug %}" class="btn btn-sm btn-warning">Read More</a>
    </div>
    <hr>
    {% endfor %}
    {% else %}
    <p>No results found.</p>
    {% endif %}
</div>
{% endblock %}